# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# VS Code
.vscode/*
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node
node_modules/

# Roblox / Rojo temporarios
*.rbxl.lock
*.rbxlx.lock
*.rbxm.lock
*.rbxmx.lock
*.tmp
*.temp
*.bak
*.autosave

# Builds e artefatos locais
build/
dist/
out/

# Sistema / cache
.DS_Store
*.swp
*.swo
